@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.container-lg {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 8rem;
		padding-left: 8rem;
	}
	.purple {
		color: #7000ff;
		text-align: center;
		font-size: 13px;
	}
	.b-lg {
		width: 192px;
		height: 40px;
		flex-shrink: 0;
		border-radius: 3px;
		background: #f8f2ff;
	}
	.profile {
		color: var(--Black, #322c39);
		font-size: 16px;
	}
	.profile-p {
		color: var(--Black, #322c39);
		font-weight: 500;
		font-size: 12px;
		opacity: 0.4;
	}
	.menu {
		color: var(--Black, #322c39);
		font-size: 15px;
		font-weight: 500;
	}
	.active {
		color: #7000ff;
		font-size: 15px;
		font-weight: 500;
	}
	.active1 {
		color: #f00;
	}
	.footer {
		color: var(--black, #322c39);
		font-size: 13px;
	}
	.user-n {
		color: var(--Black, #322c39);
		font-size: 36px;
		font-weight: 500;
	}
	.seperator {
		border-bottom: 1px solid var(--violet-neutral, #625376);
		opacity: 0.9;
	}
	.warning {
		color: #f4761a;
		font-size: 12px;
	}
}
